// This file can be imported by themes to solve the problem of specifying different colors for the top zone and topbar zone,
// since this isn't possible with the standard Bootstrap navbar-dark and navbar-light variables.
// Use of this file assumes one color set for the top zone and its parents, and one color set for the topbar zone and its parents,
// although these can be the same.
// Admin navbar and anchors (when UAB is off) also can get color information here for themes that include this file.
// Exceptions can be made as needed with specific CSS.

// Themes using this file should define the variables used in this file as described on https://themes.tiki.org/CSS Variables in Tiki

// Top module zone and parent divs
body:not(.tiki-admin) .tiki-top-nav-light,
body:not(.tiki-admin) .tiki-top-nav-dark
{
    background: var(--tiki-top-bg);
    color: var(--tiki-top-text-color); // Turns out it's necessary to provide a variable for this. Previously written: The idea for this was text, etc. that isn't a link, but probably anything in these nav zones that isn't a link will have its own CSS rules already.
    a:not(.navbar-brand,.dropdown-item,.btn,.sm-sub-link),
    .dropdown-toggle,                  // Moved from tiki-selectors (this and next line)
    .nav-link.dropdown-toggle,
    .btn.btn-link,
    .sm-navbar:not(.sm-navbar--collapsible-only) .sm-nav-item .sm-nav-link
    {
        color: var(--tiki-top-color);
        &:hover {
            color: var(--tiki-top-hover-color);
            background: var(--tiki-top-hover-bg);
        }
    }
    border: var(--tiki-top-border); // Style and color, for example, solid black
    border-width: var(--tiki-top-border-width); // For example, 1px, or 0px 0px 4px 0px
    box-shadow: var(--tiki-top-box-shadow);
}

// Topbar module zone and parent divs
.tiki .tiki-topbar-nav-light,
.admin-content .tiki-nav-light, // Legacy admin icons
.tiki .tiki-topbar-nav-dark,
.admin-content .tiki-nav-dark // Legacy admin icons
{
    background: var(--tiki-topbar-bg) !important;
    color: var(--tiki-topbar-text-color);
    a:not(.navbar-brand,.dropdown-item,.btn,.sm-sub-link),
    .dropdown-toggle,                  // Moved from tiki-selectors (this and next line)
    .nav-link.dropdown-toggle,
    .btn.btn-link,
    .nav-link,
    .sm-navbar:not(.sm-navbar--collapsible-only) .sm-nav-item .sm-nav-link
    {
        color: var(--tiki-topbar-color);
        &:hover {
            color: var(--tiki-topbar-hover-color);
            background: var(--tiki-topbar-hover-bg);
        }
    }
    border: var(--tiki-topbar-border); // Style and color, for example, solid black
    border-width: var(--tiki-topbar-border-width); // For eaxmple, 1px, or 0px 0px 4px 0px
    box-shadow: var(--tiki-topbar-box-shadow);
}

.tiki:not(.tiki-admin.uab) .tiki-top-nav-dark {
    background: var(--tiki-top-bg);
}


// Apply background: transparent to children of uppermost parent to prevent nested gradients
.tiki.layout_basic:not(.uab.tiki_admin) {
    .page-header .top_modules,
    .page-header .top_modules .navbar,
    .topbar_modules .navbar {
        background: transparent !important;
        --bs-bg-opacity: 0 !important;
        box-shadow: none;
        border: none;
    }
}

.tiki.layout_classic:not(.uab.tiki_admin) {
    .top_modules .navbar,
    .topbar,
    .topbar_modules,
    .topbar_modules .navbar {
        background: transparent !important;
        --bs-bg-opacity: 0 !important;
        box-shadow: none;
        border: none;
    }
}

.layout_social:not(.uab.tiki_admin) {
    header .top_modules,
    header .top_modules .navbar,
    .topbar,
    .topbar .navbar {
        background: transparent !important;
        --bs-bg-opacity: 0 !important;
        box-shadow: none;
        border: none;
    }
}
